<h2>My Ledger</h2>
<h3>All favorited plants should display here</h3>
<h3>data should be coming from the leafyLedger database</h3>

<h3>THERE WILL BE A DELETE BUTTON USING A POST ROUTE AND METHOD OVERRIDE</h3>

<section class="pdBody">
  <!-- Currently the backend is sending local data in a context object named 'plants' which is an array of objects -->
    <section class="pdPlantContainer">
    <% for (let i = 0; i < plants.length; i++) { %>
    <!-- href -->
        <div class="well">
          <div class="pdPlantPic">
            <img class="pdThumb well well-sm" alt="<%= plants[i].common_name %>" src="<%= plants[i].image_url %>">
          </div>
          <div class="pdPlantDetails">
            <div class="pdPlantNames">
              <h2 class ="pdName"><%= plants[i].common_name %></h2>
              <h3 class="pdSciName"><%= plants[i].scientific_name %></h3>
            </div>
           
              
                
              
              <input type="text" name="lastWatered">
              
            <div class ="pdPlantDead"> 
            <!-- coming back to this -->
              <form method="POST" action="/cemetery">
                <button class="dead" type="submit">☠️
                </button> 
              </form>  
              
                
                
                
                
                
              <div class ="pdPlantTrashed">  
                <form method="POST" action="/ledger/<%= plants[i].dataValues.id%>?_method=DELETE"%></form>>
                    
                <button type=submit class="trash" >🗑
                </button>
              </form>
            </div>
        </div>
        </div>
    <% }; %>
    </section>