<h1 class="pdHeading">Plant Directory</h1>
<section class="pdBody">


<!-- A context object containing API data should be send from the backend apiPlants.data is an array-->

  <section class="pdPlantContainer">
  <% for (let i = 0; i < apiPlants.data.length; i++) { %>
  <!-- href -->
      <div class="well" href="to route that querys one plant">
        <div class="pdPlantPic">
          <img class="pdThumb" alt="<%= apiPlants.data[i].common_name %>" src="<%= apiPlants.data[i].image_url %>">
        </div>
        <div class="pdPlantDetails">
          <div class="pdPlantNames">
            <h2><%= apiPlants.data[i].common_name %></h2>
            <h3 class="sciName"><%= apiPlants.data[i].scientific_name %></h3>
            <h3 class="apiId">placeholder for id: <%= apiPlants.data[i].id %></h3>
          </div>
          <div class ="pdPlantSave">
            Save to Ledger 💖
          </div>
      </div>
      </div>
    <!-- close href -->
  <% }; %>
  </section>
</section>

<!-- Use alligator tags to render those here with a loop -->

<!-- each plant display needs to include hidden form data using the POST method that stores information about the 
name, scientificName, lastWatered(empty), pictureURL, and API index integer; the submit button will be the heart emoji...info will
be sent to the backend to save it to the database -->

<!-- Clicking on each div should result in storing and ID or NAME of the plant assigned to that div, the URL probably involves a params URL pattern that will be picked up by a route that will use that params to query the API-->