<h1 class="pdHeading">Plant Directory</h1>

    <%console.log(plants)%>
    <%console.log(currentUser.id)%>
<section class="pdBody">
<!-- Currently the backend is sending local data in a context object named 'plants' which is an array of objects -->
  <section class="pdPlantContainer">
  <% for (let i = 0; i < plants.length; i++) { %>
  <!-- href -->
      <div class="well">
        <div class="pdPlantPic">
          <img class="pdThumb well well-sm" alt="<%= plants[i].common_name %>" src="<%= plants[i].image_url %>">
        </div>
        <div class="pdPlantDetails">
          <div class="pdPlantNames">
            <h2 class ="pdName"><%= plants[i].common_name %></h2>
            <h3 class="pdSciName"><%= plants[i].scientific_name %></h3>
          </div>
          <div class ="pdPlantSave">
            <form method="POST" action="/ledger" class="pdForm">
              <input hidden type="text" name="name" value="<%= plants[i].common_name %>">
              <input hidden type="text" name="scientificName" value="<%= plants[i].scientific_name %>">
              <input hidden type="text" name="pictureUrl" value="<%= plants[i].image_url %>">
              <input hidden type="text" name="apiId" value="<%= plants[i].id %>">
              <input hidden type="text" name="lastWatered" value="">
              <input hidden type="text" name="dead" value=>
              <input hidden type="text" name="userId" value="<%= currentUser.id %>">
              <button class="btn btn-success" type="submit">Save to Ledger 💖</button> 
            </form>
          </div>
      </div>
      </div>
    <!-- close href -->
  <% }; %>
  </section>